<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<link href="../css/transdmin.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="../css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="../css/ie7.css" /><![endif]-->
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/replace_href.js"></script>
</head>
 <body>
 <ul class="sideNav nav_ul">	
  <li><a href="requestAdmin/showUnAuditRequest/" class="" target="rightContent">待审核的供求</a></li>
	<li><a href="requestAdmin/list/" target="rightContent" target="rightContent">已审核的供求</a></li>
 </ul>
 </body>
</html>