<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2号店用户中心</title>
{_include file=front/include/common_include.html_}

<link rel="stylesheet" href="js/uploadify/uploadify.css" type="text/css" />

<!-- JavaScripts-->
<script type="text/javascript" >
jQuery(function (){
	//个人中心tab
	var allTab=$(".page .user_center .right .infos .request_head li a");
	allTab.each(function (eq){
		var _this=$(this);
		_this.eq=eq;
		_this.hover(function (){
			allTab.removeClass("active");
			_this.addClass("active");
			_this.parents(".request_head").next(".re_list_wrap").find(".re_list").eq(_this.eq).addClass("active").siblings().removeClass("active");
		},function (){
			//_this.removeClass("active");
		});
	});
	
	//左右两边高度相等
	var MxHeight= Math.max($(".page .user_center .left").innerHeight(),$(".page .user_center .right").innerHeight());
	$(".page .user_center .right").height(MxHeight);
	$(".page .user_center .left").height(MxHeight-310);
	
	//需求列表hover
	$(".page .user_center .right .infos .re_list_wrap .re_list dl.request_dl").hover(function (){
		$(this).css("background","#fff8f1");
	},function (){
		$(this).css("background","#fff");
	});
	
	//取消收藏
	$(".page .user_center .right .infos .re_list_wrap .re_list dd a.cancel_collect").click(function (e){
		e.preventDefault();
		var request_id = $(this).attr("request_id"),_this=$(this);
		//取消收藏，
		if(window.confirm('确认取消收藏吗？')){
			$.ajax({
			   type: "POST",
			   url: "{_$front_url_}collect/delete/",
			   data: "request_id="+request_id,
			   success: function(msg){
				   if (msg==1){
					   TINY.box.show('取消成功！',0,0,0,0,3,null,'false');
					   _this.parents("dl.request_dl").replaceWith("");
				   }else{
					   document.write(msg);
				   }
			   }
			});
		}
	});
	
	/*
	 * 设置导航默认选中
	 */
	$(".page .user_center .left ul li").removeClass("active");
	$(".page .user_center .left ul li").eq(parseInt($(".page .user_center .left ul").attr("leftEq"))+1).addClass('active');
});
</script>

{_include file=front/include/ie6png.html_}
</head>

<body>
<div class="page">
{_include file=front/include/header.html_}
	<div class="position w980 ">
		<ul class="position_ul clearfix">
			<li class="first">您现在的位置：</li>
			<li><a href="{_$front_url_}">首页</a></li>
			<li><a href="{_$front_url_}user/center.html">个人中心</a></li>
			<li class="college cur" title="">我的收藏</li>
		</ul>
	</div>
	<div class="user_center w980 clearfix">
		<div class="left wraps fl">
			<ul leftEq ={_if $leftEq_}{_$leftEq_}{_else_}0{_/if_}>
				<li class="user_li">个人中心</li>
				<li  class="active"><a href="{_$front_url_}user/center.html" class="common_bg pub">我的发布</a></li>
				<li ><a href="{_$front_url_}user/collect.html" class="common_bg coll">我的收藏</a></li>
				<li ><a href="{_$front_url_}user/data.html" class="common_bg data">我的资料</a></li>
			</ul>
		</div>
		<div class="right fr wraps">
			<h6>我的收藏</h6>
			<div class="infos">
				<ul class="request_head clearfix" >
					<li class="fl"><a href="" class="active">收藏的需求</a></li>
					<li class="fl"><a href="">收藏的推荐商品</a></li>
				</ul>
				<div class="re_list_wrap">
					<div class="re_list active">
					{_if $collectList_}
						{_section name=request loop=$collectList_}
							<dl class="clearfix  request_dl">
								<dt class="fl clearfix">
									<a href="{_$front_url_}request/requestDetail/{_$collectList[request].id_}.html" class="fl left_thumbs" target="_blank"><img src="{_$collectList[request].thumbs_}" width="60" height="50" alt=""/></a>
									<div class="fl">
										<a href="{_$front_url_}request/requestDetail/{_$collectList[request].id_}.html" target="_blank">{_$collectList[request].title_}</a>
										<span>{_$collectList[request].publish_time_}</span>
									</div>
								</dt>
								<dd class="fr">
									<a href="javascript:void(0)" class="cancel_collect" request_id={_$collectList[request].id_}>取消收藏</a>
								</dd>
							</dl>
						{_/section_}
					{_else_}
							<div>您没有收藏的需求！</div>
					{_/if_}
					</div>
					<div class="re_list">
					{_if $deletedRequest[0].id_}
						{_section name=request loop=$deletedRequest_}
							
							<dl class="clearfix  request_dl">
								<dt class="fl clearfix">
									<a href="{_$front_url_}request/requestDetail/{_$deletedRequest[request].id_}.html" class="fl left_thumbs" target="_blank"><img src="{_$deletedRequest[request].thumbs_}" width="60" height="50" alt=""/></a>
									<div class="fl">
										<a href="{_$front_url_}request/requestDetail/{_$deletedRequest[request].id_}.html" target="_blank">{_$deletedRequest[request].title_}</a>
										<span>{_$deletedRequest[request].publish_time_}</span>
									</div>
								</dt>
								<dd class="fr">
								</dd>
							</dl>
						{_/section_}
					{_else_}
							<div>您没有已删除的需求！</div>
					{_/if_}
					</div>
				</div>
			</div>
		</div>
	</div>
{_include file=front/include/footer.html_}	
</div>
</body>
</html>