<base href="{_$admin_path_}"/>
<meta name="Keywords"  content="" />
<meta name="Description" content="" />
<!-- CSS -->
<link rel="icon" href="imgs/admin_ico.ico" type="image/x-icon" />
<link rel="shortcut icon" href="imgs/admin_ico.ico" type="image/x-icon" />
<link href="css/transdmin.css" rel="stylesheet" type="text/css" />
<link href="js/Validform_v5.1/css/style.css" type="text/css" rel="stylesheet" />
<link href="js/Validform_v5.1/css/demo.css" type="text/css" rel="stylesheet" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="css/ie7.css" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/Validform_v5.1/js/Validform_v5.1_min.js"></script>
<script type="text/javascript" src="js/Validform_v5.1/plugin/passwordStrength/passwordStrength-min.js"></script>
<!--  <script type="text/javascript" src="js/validateForm.js"></script>-->
<script type="text/javascript" src="js/jNice.js"></script>
<script type="text/javascript" src="js/setSelectRadioCheckboxDefault.js"></script>
